@CHARSET "UTF-8";

#article{
	width: auto;
	min-height: 800px;;
	border: 2px solid #ccc;
	font-size: 13px;
}
#article h2{
	text-indent: 0;
	text-align: center;
}

#article #subject{
	height:10px;
}

#article #subject dl{
	width:200px;
	padding:10px 0 0 45px;
	float:left;
}

#article #subject dl dt{
	margin:0 0 5px 0;
	width:200px;
	border:1px solid black;
}
#article #subject dl dt img{
	margin:0 auto;
	display:block;
}


#article #subject dl dd{
	height:20px;
	line-height:20px;
	text-align:center;
	width:100px;
	float:left;
}
#article #subject dl dd.email,#user dl dd.url{
	width:170px;
	text-align:left;
	padding:2px 0 0 0;
	text-indent:5px;
}


#article #subject dl dd a{
	text-decoration:none;
	color:#333;
}

#article #subject dl dd.username{
	width:200px;
	float:none;
	color:#f60;
}

#article div.content
{
	float:right;
	width:650px;
	height:30px;
	line-height:30px;
	padding:5px 20px 0 0;
}

#article div.content .user{
	border-bottom:1px dashed #999;
	color:#666;

}

#article div.content .user span{
	float:right;
	color:06f;
}

#article div.content  .h3{
	font-size:14px;
	height:40px;
	line-height:40px;
	
}
#article div.content  .detail{
	line-height:200%;
	font-size:14px;
	
}
#article div.content  .read{
font-size:14px;
	color:#666;
	
	
}

#article div.content  .read p{
	padding:0 0 15px 0;
	text-align:right;
}
	
#article p.line{
	width:95%;
	margin:0 auto;
	clear:both;
	height:10px;
	border-bottom:1px dashed #333;
}


#article dl{
	width: 450px;
	margin: 0 auto;
	position:relative;
}
#article dl dt{
	text-align: center;
	padding: 10px 0;
	font-weight: bold;

}
#article dl dd input.text{
	width: 250px;
	height: 19px;
	border: 1px solid #333;
	background: #fff;
}
#article dl dd{
	padding: 5px 0;
}

#article dl dd{
	cursor:pointer;
}


#article dl dd input.submit{
	width: 75px;
	height: 21px;
	border: 1px solid #333;
	background: #fff;
	cursor: pointer;
	margin:0 0 0 20px;
	color:#333;
}

#article dl dd input.submit:hover{
	background:#eee;
}

#article dl dd textarea{
	width:420px;
	height:200px;
	border:1px solid #333;
	background:#fff;
	border-top:none;
}


#article dl dd input.yzm{
	width: 60px;
}
#article dl dd img#code{
	position:relative;
	top:8px;
	left:10px;
	cursor:pointer;
}

#article dl dd div#ubb{
	width:420px;
	height:26px;
	background:#555;
	border:1px dashed #333;
	border-bottom:1px solid #666;
}

#article dl dd div#font{
	display:none;
	width:125px;
	height:40px;
	background:#eee;
	border:1px dashed #333;
	padding:8px;
	line-height:20px;
	position:absolute;
	top:82px;
	left:5px;
}
#article dl dd div#font strong{
	font-weight:normal;
	background:#fff;
	cursor:default;
	border:1px solid #ccc;
}

#article dl dd div#ubb input{
	width:20px;
}



#article .re dl{
	width:200px;
	padding:10px 0 0 45px;
	float:left;
}

#article .re  dl dt{
	margin:0 0 5px 0;
	width:200px;
	border:1px solid black;
}
#article .re  dl dt img{
	margin:0 auto;
	display:block;
}


#article .re dl dd{
	height:20px;
	line-height:20px;
	text-align:center;
	width:100px;
	float:left;
}
#article .re  dl dd.email,#user dl dd.url{
	width:170px;
	text-align:left;
	padding:2px 0 0 0;
	text-indent:5px;
}


#article .re  dl dd a{
	text-decoration:none;
	color:#333;
}

#article .re  dl dd.username{
	width:200px;
	float:none;
	color:#f60;
}
