@CHARSET "UTF-8";
body{
	width:auto;
}
#face h3{
	width:80%;
	margin: 10px auto;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border:1px solid black;
}
#face dl{
	width: 80%;
	margin: 0 auto;
	
}
#face dl dd{
	float: left;
	width:220px;
	text-align:center;
}
#face dl dd img{
	border: 1px solid #ccc;
	cursor:pointer;
}