@CHARSET "UTF-8";
#login{
	width: auto;
	height: 400px;
	border: 2px solid #ccc;
	font-size: 13px;
}
#login h2{
	text-indent: 0;
	text-align: center;
}

#login dl{
	
	width: 300px;
	margin: 0 auto;
}

#login dl dd{
	padding: 5px 0;
}

#login dl dd input.text{
	width: 200px;
	height: 19px;
	border: 1px solid #333;
	background: #fff;
}

#login dl dd input.yzm{
	width: 60px;
	
}
#login dl dd img#code{
	position:relative;
	top:8px;
	left:10px;
	cursor:pointer;
}

#login dl dd input.button{
	width: 60px;
	height: 19px;
	border: 1px solid #333;
	background: #fff;
	cursor: pointer;
	margin: 5px 0 0 60px;
}

#login dl dd input.location{
	margin:0 0 0 10px;
}